<header>
    <div class="logo">
        <a href = "/home"><img src="assets/images/logo.png" alt="Logo"></a>
    </div>
    
    <div *ngIf="EnableLogin">
         <!-- <a href="/login" class="login-link"> -->
            <button (click)="Login()" class="button-64" role="button"><span class="text">LOGIN</span></button>
        <!-- </a>  -->
    </div>

    <!-- <div class = "LogOutDiv" *ngIf="LoggedIn">
        <button class = "LogOut"  (click)="LogOut()">
            {{username.slice(0,1).toUpperCase()}}
        </button>
        <br/>
        <div class="dropdown-content">
            <a href="#">MyProfile</a>
            <a href="#">MyBlogs</a>
            <a href="#">Bookmarks</a>
            <a href="#">Logout</a>
          </div>
    </div> -->


    <div class="dropdown">
        <button (click)="toggleDrop()" (blur)="toggleDrop()" class="dropbtn">Dropdown</button>
            <div id="dropdown" class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        
    </div>

</header>

  <!-- Rest of your website content here -->
