<header>
    <div class="logo">
        <a href = "/home"><img src="assets/images/logo.png" alt="Logo" ></a>
    </div>
    
    <div *ngIf="EnableLogin">
         <!-- <a href="/login" class="login-link"> -->
            <button (click)="Login()" class="button-64" role="button"><span class="text">LOGIN</span></button>
        <!-- </a>  -->
    </div>

    <!-- <div class = "LogOutDiv" *ngIf="LoggedIn">
        <button class = "LogOut"  (click)="LogOut()">
            {{username.slice(0,1).toUpperCase()}}
        </button>
        <br/>
        <div class="dropdown-content">
            <a href="#">MyProfile</a>
            <a href="#">MyBlogs</a>
            <a href="#">Bookmarks</a>
            <a href="#">Logout</a>
          </div>
    </div> -->


    <div class="dropdown" *ngIf="LoggedIn" >
        <button (click)="toggleDrop()" class="dropbtn">{{username.slice(0,1).toUpperCase()}}</button>
        <div id="dropdown" class="dropdown-content">
            <button class="ddBtns">
                My Profile
            </button>
          
            <button class="ddBtns">
                
                Bookmarks
            </button>

            <button class="ddBtns">
                Settings
            </button>

            <button class="ddBtns" (click)="LogOut()">
                
                <a href="/home"><img src="assets/images/logout.png" alt="Logo">Logout</a>
            </button>
        </div>
    </div>
</header>

  <!-- Rest of your website content here -->
