header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 30%;
  }
  
  /* .logo h1 {
    margin-left: 10px;
    font-size: 24px;
  } */
  
  .login-link {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }

  button{
      padding: 10px 20px;
      background-color: blue;
      color: #fff;
      font-size: medium;
      margin-bottom: 8px;
      border: solid 2px #999;
      border-radius: 8px;
  }

  
  