<header>
    <div class="logo">
        <a href = "/home"><img src="assets/images/logo.png" alt="Logo" ></a>
    </div>
    <div class="rightContent">
        <!-- <button class="addBlogClick" *ngIf="showAddBlog">
            <a href="/blog-upload">Create Blog</a>
        </button> -->

    <div *ngIf="EnableLogin">
            <button (click)="Login()" class="button-64" role="button"><span class="text">LOGIN</span></button>
    </div>

    <div class="dropdown" *ngIf="LoggedIn" >
        <button (click)="toggleDrop()" class="dropbtn">{{username.slice(0,1).toUpperCase()}}</button>
        <div id="dropdown" class="dropdown-content">
            <button class="ddBtns">
                <a href="/home">
                    <div class="icon" style='mask:url("../../assets/images/MyProfile.png") center/contain;'></div>
                    &nbsp; &nbsp;My Profile</a>
            </button>
        
            <button class="ddBtns">
                <a href="/blog-upload">
                    <div class="icon" style='mask:url("../../assets/images/uploadIcon.png") center/contain;'></div> &nbsp; &nbsp;Create Blog</a>
            </button>

            <button class="ddBtns">
                <a href="/home">
                    <div class="icon" style='mask:url("../../assets/images/bookmarks.png") center/contain;'></div> &nbsp; &nbsp;Bookmarks</a>
            </button>

            <button class="ddBtns" (click)="LogOut()">
                <a href="/home">
                    <div class="icon" style='mask:url("../../assets/images/logout.png") center/contain;'></div> &nbsp; &nbsp;Logout</a>
            </button>
        </div>
    </div>
    </div>
</header>
