  .blog-section{
    
    text-align: center;
    min-width: 100vw;
    min-height: 89vh;
  }
  .blog-container{
    display: grid;
    
    grid-template-columns: auto auto auto;
    gap: 3vh;
    padding-top: 1.5%;
    padding-bottom: 2.5%;
    /* justify-content: space-between; */
  }
  
  .blog-card {
    /* width: 8%; */
    margin: 1% 4%;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.7);
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .blog-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Ubuntu;
  }
  
  .blog-description {
    font-size: 14px;
    color: #555;
    font-family: Ubuntu;
  }

  /* button{
    padding: 2%;
    margin: auto;
    background-color: burlywood;
    margin-bottom: 4%;
    margin-top: 4%;
  } */

  a{
    font-family: Ubuntu;
  }


  .arrow-buttons {
    /* Transparent background */
    background-color:transparent;
    border: none;
    /* Size */
    height: 25px;
    width: 25px;
}
.arrow-button--b {
  /* Edges */
  border-bottom: 4px solid rgba(50, 50, 50, 0.5);
  border-right: 4px solid  rgba(50, 50, 50, 0.5);
  transform: translateY(-25%) rotate(45deg) translateX(-25%);
  cursor: pointer;

}

