<!-- <div *ngFor="let blog of blogs">
    <h2>{{blog.title}}</h2>
    <h3>{{blog.desc}}</h3>
</div> -->


<!DOCTYPE html>
<html>
<head>
  <title>Blog Section</title>
</head>
<body>
  <div class="blog-section">
    <div class="blog-card">
      <h2 class="blog-title">Blog Title 1</h2>
      <p class="blog-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit eu leo vitae dapibus. Duis volutpat efficitur enim, vel egestas leo auctor a.</p>
      <a href="#" class="read-more">Read More</a>
    </div>
    
    <div class="blog-card">
      <h2 class="blog-title">Blog Title 2</h2>
      <p class="blog-description">Nulla at quam quis urna aliquet laoreet. Phasellus sit amet urna sit amet sem blandit varius. In hac. </p>
      <a href="#" class="read-more">Read More</a>
    </div>

    <div class="blog-card">
        <h2 class="blog-title">Blog Title 2</h2>
        <p class="blog-description">Nulla at quam quis urna aliquet laoreet. Phasellus sit amet urna sit amet sem blandit varius. In hac. </p>
        <a href="#" class="read-more">Read More</a>
    </div>

    <div class="blog-card">
        <h2 class="blog-title">Blog Title 2</h2>
        <p class="blog-description">Nulla at quam quis urna aliquet laoreet. Phasellus sit amet urna sit amet sem blandit varius. In hac. </p>
        <a href="#" class="read-more">Read More</a>
    </div>

    <div class="blog-card">
        <h2 class="blog-title">Blog Title 2</h2>
        <p class="blog-description">Nulla at quam quis urna aliquet laoreet. Phasellus sit amet urna sit amet sem blandit varius. In hac. </p>
        <a href="#" class="read-more">Read More</a>
    </div>
