<div class="blog-section">
    <div class="blog-card">
      <h2 class="blog-title">Blog Title 1</h2>
      <p class="blog-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit eu leo vitae dapibus. Duis volutpat efficitur enim, vel egestas leo auctor a.</p>
      <a href="#" class="read-more">Read More</a>
    </div>
    
    <div class="blog-card">
      <h2 class="blog-title">Blog Title 2</h2>
      <p class="blog-description">Nulla at quam quis urna aliquet laoreet. Phasellus sit amet urna sit amet sem blandit varius. In hac habitasse platea dictumst.</p>
      <a href="#" class="read-more">Read More</a>
    </div>
    
    <div class="blog-card">
      <h2 class="blog-title">Blog Title 3</h2>
      <p class="blog-description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin elementum bibendum ante, eget viverra nisi faucibus vel.</p>
      <a href="#" class="read-more">Read More</a>
    </div>
  </div>