
   .signup-container h1{
    color: #22577a;
 } 


.signup-container{
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    text-align: center;
    margin: 5% auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

   }

.is-invalid {
  border: solid 3px red !important;
}

.signup-container input[type = "text"]{
  width: 80%;
  padding: 8px;
  
  margin-bottom: 15px;
  border: solid 3px #999;
  border-radius: 8px;
}   

.invalidMessage{
  text-align: left;
  color: red;
  margin-top: -15px;
  font-size: smaller;
  padding-left: 8.5%;
}

.signup-container input[type = "email"]{
    width: 80%;
    padding: 8px;
    margin-bottom: 15px;
    border: solid 3px #999;
    border-radius: 8px;

    
}   

.signup-container input[type = "password"]{
    width: 80%;
    padding: 8px;
    margin-bottom: 25px;
    border: solid 3px #999;
    border-radius: 8px;

}   

button{
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    margin-bottom: 8px;
    border: solid 2px #999;
    border-radius: 8px;
    cursor: not-allowed;
}

.btnEnabled{
  background-color: green !important;
  cursor: pointer !important;
}