<div style="background-color: #f9dcc4;" class="signup-container">
    <h1>Create an Account</h1>
    <form #signupForm="ngForm">
          
      <br/>
      
      <input type="text" placeholder="Name" required [(ngModel)]="userdata.name" 
      #name="ngModel" [class.is-invalid] = "name.invalid && name.touched" name="name"
      
      >
      <br/>
      <div *ngIf="name.invalid && name.touched" class="invalidMessage">
          Name is required
      </div>
      <input type="text" placeholder="Username" required [(ngModel)]="userdata.username"  #username="ngModel" [class.is-invalid] = "username.invalid && username.touched" name="username"> 
      <br/>
      <input type="email" placeholder="Email" required [(ngModel)]="userdata.email"  #email="ngModel" [class.is-invalid] = "email.invalid && email.touched" name="email">
      <br/>
      <input type="password" placeholder="Password" required [(ngModel)]="userdata.password"  #password="ngModel" [class.is-invalid] = "password.invalid && password.touched" name="password">
      <br/>
      <div *ngIf="password.invalid && password.touched" class="invalidMessage">
        Password is required
    </div>
      <button [disabled]="signupForm.form.invalid" [class.btnEnabled] = "signupForm.form.valid" (click)="signup()" type="submit">Sign Up</button>
    </form>
    <p class="login-link">Already have an account? <a href="/login">Login</a></p>
</div>
       
