/* .addBlogButton{
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 45px;
  height: 45px;
  background-color: #007bff;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}


.addBlogIcon{
  width: 28px;
  height: 28px;
} */

