
    <app-header [EnableLogin]="false"></app-header>
    <div style="background-color: #d1e4db" class="login-container">
        
        <h1>Login</h1>
        <form #loginForm="ngForm">
          <input type="text" placeholder="Username" required [(ngModel)]="userdata.username"  #username="ngModel" [class.is-invalid] = "username.invalid && username.touched" name="username">
          <br/>
          <div *ngIf="username.invalid && username.touched" class="invalidMessage">
            Please Enter your Username 
          </div>
          <input type="password" placeholder="Password" required [(ngModel)]="userdata.password"  #password="ngModel" [class.is-invalid] = "password.invalid && password.touched" name="password">
          <br/>
          <div *ngIf="password.invalid && password.touched" class="invalidMessage">
            Please Enter your Password
          </div>
          <button [disabled]="loginForm.form.invalid" [class.btnEnabled] = "loginForm.form.valid"(click)="login()" type="button">Login</button>
        </form>
        <p class="signup-link">Don't have an account? <a href="/signup">Sign up</a></p>
    </div>


