<app-header [EnableLogin]="true" [showAddBlog] = "true"></app-header>
<body>
  <div class="profile-container">
    <div class="profile-header">
      <div class="profile-image">
        <img src="../../assets/images/MyProfile.png" alt="Profile Image">
      </div>
      <h2 class="profile-username">Akshat Jain</h2>
      <p class="profile-email">akshatj@argusoft.com</p>
    </div>
    <div class="profile-content">
      <!-- Add user-specific content or additional sections here -->
    </div>
  </div>
</body>
<app-blogs class="blogs" ></app-blogs>